.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.title {
    flex-grow: 1;
    text-align: center;
    margin-left: 200px;
}

.user-info2 {
    display: flex;
    align-items: center;
    color: white;
}

.user {
    margin-right: 10px;
}

.logout {
    color: white;
    background-color: #cfcfcf;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.logout:hover {
    background-color: #797a7a;
}

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.centered-title {
    flex-grow: 1;
    text-align: center;
}