body {
    background-color: #ded6d3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
}

/* Container for white box */
.container2 {
    background-color: white; 
    padding: 110px; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    max-width: 600px; 
    flex: 1; 
    display: flex;
    flex-direction: column;
}

/* Container for project overview */
.projectContainer {
    background-color: #f0f0f0; 
    padding: 20px; 
    border-radius: 10px; 
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
}

/* Table header */
th {
    text-align: left;
    padding: 10px;
    color: black;
}

/* Table row */
tr {
    border-bottom: 1px solid #000000;
    color: black;
}

/* Table cell */
td {
    padding: 10px;
}

/* Active projects button */
.activeProjectsButton {
    margin-top: 10px; 
    text-align: center;
    padding: 2px 8px; 
    font-size: 12px;
}

/* Open project link */
.openProjectLink {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff; 
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.openProjectLink:hover {
    background-color: #0056b3; 
}

/* Dropdown label */
.label {
    color: black; 
    font-weight: bold;
}

/* Dropdown select container */
.selectContainer {
    display: inline-block; 
    margin-left: 10px; 
}

/* Dropdown select */
.selectDropdown {
    padding: 3px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: -8px;
    border: 1px solid rgb(0, 0, 0);
}

/* Header */
h2 {
    color: black; 
    text-align: center;
    margin-bottom: 10px; 
    font-size: 20px; 
}
/* App header */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-container a {
    color: black;
    margin-top: 10px;
}

.header-content a {
    color: black;
}

