.form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    margin-bottom: 4px;
    display: block;
  }

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }


.footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.header {
    background-color: #1b2b3d;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 30px;
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.outfit-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.time-report {
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }